<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
	Get help for the Ruby on Rails Tutorial on the
	<a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
	Visit
	<a href="http://www.railstutorial.org/book">Rails Tutorial</a>
	to see the tutorial instructions.
</p>
